*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    max-width: 1900px;
    margin: 0 auto;
}

Header{
    background-image: url(Imagens/star\ uó\ topo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 380px; 
    position: relative;
}

.img-header1{
    width: 245px;
    margin-left: 280px;
    margin-top: 100px;
}

.img-header2{
    width: 245px;
    margin-left: 260px;
    margin-top: 100px;
}

.img-header3{
    position: absolute;
    left: 120px;
    top: 0px;
    width: 70%;
    height: 470px;
}

.star{
    width: 245px;
    height: 55px;
}

.war{
    width: 245px;
    height: 55px;
}

.kylo-ren{
    width: 98%;
    height: 470px;
}

.caixa-criaçao{
    position: relative;
    top: 150px;
    right: 170px;
}

.mini-caixa{
    width: 170px;
    height: 100px;
    display: flex;
    position: relative;
}

.criar{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: 66px ;
}

.legiao{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    text-transform: uppercase;
    align-self: center;
    margin-bottom: 45px; 
}

.line-minicaixa{
    background-color: #000000;
    position: absolute;
    width: 105px;
    height: 1.5px;
    top: 50px;
    left: 66px;
}

.numeros{
    display: flex;
    position: absolute;
    bottom: 18px;
    left: 67px;
}

.numero-04{
    font-size: 10px;
    align-self: center;
    margin-top: 4px;
}

.menor-maior{
    background-color: #8080806b;
    width: 6px;
    height: 8px;
    align-self: center;
    margin-left: 3px;
    margin-top: 2px;
    cursor: pointer;
}

.main-parte-um{
    background-image: url(Imagens/fundo-main1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.informaçoes-iniciais{
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    width: 95%;
    height: 300px;
}

.soldier-red{
    background-image: url(Imagens/soldier-red.png);
    background-size: cover;
    background-position: center center;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 20px;
    left: 150px;
}

.comece{
    width: 110px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    margin-top: 15px;
}

.baixe-jogo{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 10px;
    text-align: start;
    color: #c9c8c8;
    text-align: justify;
    padding: 20px;
    margin-bottom: 10px;
}

.botao-download{
    color: #c9c8c8;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 10px;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 6px 20px;
    cursor: pointer;
}

.update{
    color: #dfdbdb;
    font-family: 'Open Sans', sans-serif;
    font-size: 5px;
    font-weight: lighter;
    align-self: flex-end;
    margin-right: 10px;
    margin-bottom: 15px;
}

.introduçao{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    width: 480px;
    height: 132px;
    margin-right: 60px;
    margin-bottom: 20px;
}

.sobre{
    width: 270px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 5px;
}

.sobre-jogo{
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.sobre p{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    width: 260px;
    text-align: end;
}

.line-main{
    background-color: black;
    width: 100px;
    height: 2px;
}

.img-front{
    width: 207px;
}

.line-divisao{
    background-color: #000000;
    height: 2px;
    width: 76%;
    margin-top: 30px;
    margin-left: 175px;
}

.estrutura-jogo{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;
}

.lord{
    position: relative;
    top: 30px;
    left: 90px;
}

.img-lord{
    width: 390px;
    height: 390px;
}

.rey{
    position: relative;
    top: 60px;
}

.img-rey{
    width: 190px;
    height: 365px;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 70px;
    z-index: 5;
}

.titulo-estrutura{
    display: flex;
    position: relative;
    width: 190px;
    height: 50px;
}

.estrutura{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    left: 30px;
    text-transform: uppercase;
    position: absolute;
}

.de{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    position: absolute;
    top: 25px;
    left: 65px;
}

.jogo{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    left: 110px;
    top: 20px;
}

ul{
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    list-style: none;
    font-size: 0.7rem;
}

li{
    text-align: right;
    width: 100%;
    margin: 5px 0px;
    padding: 3px 10px;
}

li:hover{
    background-color: #D74430;
    color:#ffffff;
    cursor: pointer;
}

.caixa-parte-dois{
    background-color: #2D2D2D;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-atributo{
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    align-self: flex-start;
    margin: 60px 0px 30px 150px;
}

.caracteristicas{
    display: flex;
    width: 86.5%;
}

.caracteristicas-1{
    width: 50%;
}

.img-atributos1{
    position: relative;
    display: flex;
    width: 100%;
}

.img-principal{
    width: 100%;
}

.caracteristicas-2{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.img-atributos2{
    position: relative;
    width: 50%;
    margin-bottom: -4px;
}

.balao1{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
}

.balao2{
    width: 100%;
    height: 97%;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
}

.img-atributos1:hover .balao1{
    background-color: #D74430;
    display: flex;
    opacity: 0.6;
    padding: 10px;
}

.img-atributos2:hover .balao2{
    background-color: #D74430;
    display: flex;
    opacity: 0.6;
    padding: 10px;
}

.linha-horizontal0{
    position: inherit;
    background-color: #ffffff;
    width: 20px;
    height: 2px;
    top: 20px;
}

.linha-vertical0{
    position: inherit;
    background-color: #ffffff;
    width: 2px;
    height: 20px;
    top: 20px;
}

.linha-horizontal1{
    position:absolute;
    background-color: #ffffff;
    width: 20px;
    height: 2px;
    left: 430px;
    bottom: 49px;
}

.linha-vertical1{
    position: absolute;
    background-color: #ffffff;
    width: 2px;
    height: 20px;
    left: 448px;
    bottom: 49px;
}

.linha-horizontal2{
    position: inherit;
    background-color: #ffffff;
    width: 20px;
    height: 2px;
    top: 20px;
}

.linha-vertical2{
    position: inherit;
    background-color: #ffffff;
    width: 2px;
    height: 20px;
    top: 20px;
}

.linha-horizontal3{
    position:absolute;
    background-color: #ffffff;
    width: 20px;
    height: 2px;
    left: 190px;
    bottom: 21px;
}

.linha-vertical3{
    position: absolute;
    background-color: #ffffff;
    width: 2px;
    height: 20px;
    left: 208px;
    bottom: 22px;
}

.titulo-graficos0{
    width: 50px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}

.titulo-graficos{
    width: 50px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}

.balao1 p{
    width: 200px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6rem;
    margin-left: 9px;
}

.balao2 p{
    width: 170px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.5rem;
    margin-left: 9px;
}

.botao{
    text-align: center;
    width: 80px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.5rem;
    padding: 5px 10px;
    cursor: pointer;
}

.img-secundaria{
    width: 100%;
}

.fig-hierarquia{
    width: 86.5%;
}

.img-hierarquia{
   width: 100%;
   height: 100%;
   margin: 30px 0px 10px;
}

.atençao{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
    text-align: end;
    width: 400px;
    align-self: flex-end;
    margin-right: 80px;
}

.como-jogar{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin: 90px 0px 90px 60px;
}

.main-parte-tres{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 280px;
}

.trooper{
    width: 280px;
    position: relative;
    left: 30px;
    bottom: 140px;
}

.trooper-capa{
    width: 100%; 
}

.caixa-botoes{
    display: flex;
    justify-content: space-evenly;
    width: 55%;
    margin-right: 35px;
}

.caixa-botoes1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: 150px;
}

.caixa-botoes1:hover .line-p{
    background-color: #D74430;
}

.titulo-01{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.download-2{
    background-color: #000000;
    color: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    overflow: hidden;
    padding: 5px 15px;
    cursor: pointer;
    z-index: 3;
}

.download-2::before{
    content: "";
    transition: 1s;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 0%;
    height: 100%;
    background-color: #D74430;
    z-index: -1;
}

.download-2:hover::before{
    width: 100%;
}


.baixe-o-jogo{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #575757;
    width: 90PX;
    font-size: 10px;
}

.Selecione{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #575757;
    width: 60PX;
    font-size: 10px;
}

.Conquiste{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #575757;
    width: 50PX;
    font-size: 10px;
}

.line-p{
    background-color: #000000;
    width: 45px;
    height: 2px;
}

.footer{
    display: flex;
    width: 100%;
    height: 410px;
}

.caixa-footer{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #FF5A56;
}

.aplicativos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 270px;
    height: 180px;
    margin-left: 140px;
}

.titulo-aplicativo{
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #ffffff;
}

.aplicativos p{
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    width: 270px;
    font-size: 10px;
}

.botoes-icones{
    display: flex;
}

.google{
    width: 120px;
    height: 40px;
    cursor: pointer;
}

.apple{
    width: 120px;
    height: 40px;
    cursor: pointer;
    margin-left: 10px;
}

.line-footer{
    width: 270px;
    height: 1px;
    background-color: #000000;
    margin: 15px 0px;
    margin-left: 140px;
}

.starwars-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 270px;
    height: 160px;
    margin-left: 140px;
}

.img-footer{
    width: 110px;
}

.starwars-footer p{
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    width: 258px;
    font-size: 10px;
}

.caixa-white{
    width: 35%;
}

.caixa-vader{
    position: relative;
    right: 90px;
    bottom: 60px;
    width: 350px;
    height: 450px;
}

.vader{
    width: 100%;
}

@media(max-width: 955px){
    
    .img-header1{
        width: 270px;
        margin-left: 240px;
        margin-top: 100px;
    }
    
    .img-header2{
        width: 270px;
        margin-left: 200px;
        margin-top: 100px;
    }

    .img-header3{
        left: 90px;
        width: 70%;
        height: 450px;
    }

    .soldier-red{
        left: 60px;
    }

    .line-divisao{
        width: 80%;
        margin-top: 30px;
        margin-left: 85px;
    }

    .menu{
        margin-top: 70px;
        margin-right: 60px;
    }

    .linha-horizontal1{
        left: 360px;
        bottom: 39px;
    }
    
    .linha-vertical1{
        left: 378px;
        bottom: 39px;
    }
  
    .linha-horizontal3{
        left: 170px;
        bottom: 21px;
    }
    
    .linha-vertical3{
        left: 188px;
        bottom: 22px;
    }

}

@media(max-width: 900px){

    .linha-horizontal1{
        left: 330px;
        bottom: 39px;
    }
    
    .linha-vertical1{
        left: 348px;
        bottom: 41px;
    }
  
    .linha-horizontal3{
        left: 155px;
        bottom: 15px;
    }
    
    .linha-vertical3{
        left: 173px;
        bottom: 16px;
    }

    .titulo-graficos0{
        font-size: 0.8rem;
    }
    
    .titulo-graficos{
        font-size: 0.5rem;
    }
    
    .balao2 p{
        width: 125px;
        font-size: 0.5rem;
    }
    
    .botao{
        width: 65px;
        font-size: 0.5rem;
        padding: 2px 8px;
    }

}

@media(max-width: 873px){

    .soldier-red{
        height: 270px;
        left: 60px;
    }
    
    .comece{
        width: 100px;
        font-size: 1.3rem;
    }
    
    .update{
        margin-bottom: 20px;
    }

    .introduçao{
        width: 420px;
        height: 112px;
        margin-bottom: 45px;
    }
    
    .sobre{
        width: 50%;
        height: 110px;
        margin-right: 5px;
    }
    
    .sobre-jogo{
        font-size: 0.8rem;
    }

    .line-main{
        width: 75px;
    }
    
    .sobre p{
        font-size: 10px;
        width: 100%;
    }

    .img-front{
        width: 180px;
    }
    
    .line-divisao{
        width: 81%;
        margin-left: 85px;
    }

    .img-lord{
        width: 340px;
        height: 340px;
    }

    .rey{
        right: 70px;
        top: 55px;
    }

    .img-rey{
        width: 160px;
        height: 305px;
    }

    .menu{
        width: 200px;
        margin-right: 90px;
    }

    .titulo-estrutura{
        width: 100%;
        height: 50px;
    }

    .estrutura{
        font-size: 1.1rem;
        left: 80px;
    }
    
    .de{
        font-size: 1.1rem;
        top: 22px;
        left: 105px;
    }
    
    .jogo{
        font-size: 1.1rem;
        left: 135px;
        top: 20px;
    }

    ul{
        width: 100%;
        height: 160px;
        font-size: 0.6rem;
    }

}

@media(max-width: 856px){

    .container-header{
        height: 320px;
    }

    .img-header1{
        width: 205px;
        margin-left: 240px;
        margin-top: 100px;
    }
    
    .img-header2{
        width: 205px;
        margin-left: 200px;
        margin-top: 100px;
    }

    .img-header3{
        left: 80px;
        width: 70%;
        height: 450px;
    }

    .star{
        width: 205px;
        height: 55px;
    }
    
    .war{
        width: 205px;
        height: 55px;
    }
    
    .kylo-ren{
        width: 100%;
        height: 390px;
    }
 
    .criar{
        font-size: 0.8rem;
        margin-left: 85px ;
    }
    
    .legiao{
        font-size: 0.8rem;
        margin-bottom: 55px; 
    }
    
    .line-minicaixa{
        width: 85px;
        height: 1.5px;
        top: 40px;
        left: 85px;
    }
    
    .numeros{
        display: flex;
        position: absolute;
        bottom: 30px;
        left: 85px;
    }

    .numero-01{
        font-size: 15px;
    }
    
    .numero-04{
        font-size: 9px;
        margin-top: 3px;
    }
    
    .menor-maior{
        width: 4px;
        height: 6px;
        margin-left: 3px;
        margin-top: 2px;
    }
}

@media(max-width: 856px){

    .linha-horizontal1{
        left: 270px;
        bottom: 34px;
    }
    
    .linha-vertical1{
        left: 288px;
        bottom: 36px;
    }
  
    .linha-horizontal3{
        left: 130px;
        bottom: 13px;
    }
    
    .linha-vertical3{
        left: 148px;
        bottom: 15px;
    }

}

@media(max-width: 795px){

    .informaçoes-iniciais{
        height: 235px;
    }

    .soldier-red{
        height: 250px;
        width: 170px;
        left: 45px;
    }
    
    .comece{
        width: 100px;
        font-size: 1.3rem;
    }
    
    .update{
        margin-bottom: 20px;
    }

    .introduçao{
        width: 420px;
        height: 112px;
        margin-bottom: 0px;
    }
    
    .sobre{
        width: 50%;
        height: 110px;
        margin-right: 5px;
    }
    
    .sobre-jogo{
        font-size: 0.8rem;
    }

    .line-main{
        width: 75px;
    }
    
    .sobre p{
        font-size: 10px;
        width: 100%;
    }

    .img-front{
        width: 180px;
    }

    .estrutura-jogo{
        margin-top: 20px;
    }
    
    .line-divisao{
        width: 81%;
        margin-left: 65px;
    }
    
    .img-lord{
        width: 290px;
        height: 290px;
    }

    .rey{
        height: 270px;
    }

    .img-rey{
        width: 140px;
        height: 265px;
    }
}

@media(max-width: 745px){

    .footer{
        flex-direction: column;
        height: 700px;
    }

    .caixa-footer{
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 550px;  
    }

    .aplicativos, .line-footer, .starwars-footer{
        margin-left: 0;
    }

    .caixa-white{
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .caixa-vader{
        position: static;
        width: 360px;
        height: 460px;
    }

}

@media(max-width: 745px){

    .linha-horizontal1{
        left: 210px;
        bottom: 29px;
    }
    
    .linha-vertical1{
        left: 228px;
        bottom: 31px;
    }

    .linha-horizontal2{
       width: 13px; 
       top: 10px;
    }
    
    .linha-vertical2{
        height: 13px;
        top: 10px;
    }
  
    .linha-horizontal3{
        width: 13px;
        left: 112px;
        bottom: 8px;
    }
    
    .linha-vertical3{
        height: 13px;
        left: 123px;
        bottom: 10px;
    }

    .titulo-graficos{
        font-size: 0.4rem;
        margin-bottom: 5px;
    }
    
    .balao2 p{
        width: 100px;
        font-size: 0.4rem;
        margin-bottom: 5px;
    }
    
    .botao{
        width: 65px;
        font-size: 0.4rem;
        padding: 2px 0px;
    }

}

@media(max-width: 730px){

    .container-header{
        height: 270px; 
    }

    .img-header1{
        width: 205px;
        margin-left: 140px;
        margin-top: 70px;
    }
    
    .img-header2{
        width: 205px;
        margin-left: 160px;
        margin-top: 70px;
    }

    .img-header3{
        left: 75px;
        width: 65%;
        height: 325px;
    }

    .star{
        width: 150px;
        height: 35px;
    }
    
    .war{
        width: 150px;
        height: 35px;
    }
    
    .kylo-ren{
        width: 100%;
        height: 325px;
    }

    .caixa-criaçao{
        top: 130px;
        right: 100px;
    }

    .mini-caixa{
        width: 100px;
        height: 100px;
    }

    .criar{
        font-size: 0.6rem;
        margin-left: 25px ;
    }
    
    .legiao{
        font-size: 0.6rem;
        margin-bottom: 66px; 
        margin-right: 13px;
    }
    
    .line-minicaixa{
        width: 63px;
        height: 1.5px;
        top: 30px;
        left: 25px;
    }
    
    .numeros{
        bottom: 50px;
        left: 27px;
    }

    .numero-01{
        font-size: 15px;
    }
    
    .numero-04{
        font-size: 9px;
        margin-top: 3px;
    }
    
    .menor-maior{
        width: 4px;
        height: 6px;
        margin-left: 3px;
        margin-top: 2px;
    }

    .informaçoes-iniciais{
        height: 205px;
    }

    .soldier-red{
        height: 220px;
        width: 140px;
        left: 35px;
    }
    
    .comece{
        width: 60px;
        font-size: 0.8rem;
        line-height: 20px;
    }

    .baixe-jogo{
        font-size: 8.5px;
        color: #c9c8c8;
        padding: 15px;
    }
    
    .botao-download{
        font-size: 8.5px;
        border-radius: 3px;
        padding: 5px 15px; 
    }

    .introduçao{
        width: 350px;
        height: 95px;
        margin-bottom: 0px;
    }
    
    .sobre{
        width: 50%;
        height: 90px;
        margin-right: 5px;
    }
    
    .sobre-jogo{
        font-size: 0.6rem;
    }

    .line-main{
        width: 56px;
    }
    
    .sobre p{
        font-size: 8.5px;
        width: 100%;
    }

    .img-front{
        width: 150px;
    }

    .line-divisao{
        width: 81%;
        margin-left: 55px;
    }

    .estrutura-jogo{
        margin-top: 0px;
    }

    .lord{
        top: 40px;
    }

    .img-lord{
        width: 250px;
        height: 250px;
    }

    .rey{
        top: 75px;
    }

    .img-rey{
        width: 115px;
        height: 215px;
    }

    .menu{
        width: 160px;
        margin-right: 55px;
    }

    .titulo-estrutura{
        width: 100%;
        height: 30px;
    }

    .estrutura{
        font-size: 0.7rem;
        left: 85px;
    }
    
    .de{
        font-size: 0.7rem;
        top: 15px;
        left: 99px;
    }
    
    .jogo{
        font-size: 0.7rem;
        left: 118px;
        top: 13px;
    }

    ul{
        width: 100%;
        height: 115px;
        font-size: 0.4rem;
    }

    li{
        padding: 0px 5px;
        font-size: 1.1em;
    }

}

@media(max-width: 660px){

    .main-parte-tres{
        height: 270px;
    }

    .atençao{
        font-size: 8px;
        width: 270px;
        margin-right: 50px;
    }
    
    .como-jogar{
        font-size: 1rem;
        margin: 40px 55px 90px 0px;
        align-self: flex-end;
    }

    .trooper{
        position: static;
        width: 190px; 
        margin-left: 100px;
        margin-bottom: 70px;
    }

    .trooper-capa{
        width: 200px;
        position: relative;
        right: 79px;
    }

    .caixa-botoes{
        flex-direction: column;
        width: 150px;
        height: 240px;
        margin-bottom: 0px;
    }

    .caixa-botoes1{
        height: 70px;
    }

    .titulo-01{
        font-size: 0.7rem;
    }
    
    .download-2{
        font-size: 0.5rem;
    }  
    
    .baixe-o-jogo{
        width: 90PX;
        font-size: 8px;
    }
    
    .Selecione{
        width: 45px;
        font-size: 8px;
    }
    
    .Conquiste{
        width: 50PX;
        font-size: 8px;
    }
    
    .line-p{
        background-color: #000000;
        width: 35px;
        height: 2px;
    }

    .footer{
        height: 550px;
    }

    .caixa-footer{
        align-items: center;
        width: 100%;
        height: 430px;  
    }

    .aplicativos{
        align-items: center;
        width: 210px;
        height: 130px;
    }
   
    .aplicativos p{
        width: 170px;
        font-size: 8px;
    }
    
    .google{
        width: 90px;
        height: 30px;
    }
    
    .apple{
        width: 90px;
        height: 30px;
    }
    
    .line-footer{
        width: 190px;  
        margin: 0; 
    }
    
    .starwars-footer{
        align-items: center;
        width: 210px;
        height: 130px; 
    }
    
    .img-footer{
        width: 80px;
    }
    
    .starwars-footer p{
        width: 170px;
        font-size: 8px;
    }

    .aplicativos, .line-footer, .starwars-footer{
        margin-left: 0;
    }

    .caixa-white{
        height: 70px;
    }

    .caixa-vader{
        position: static;
        width: 280px;
        height: 380px;
    }

}

@media(max-width: 635px){

    .linha-horizontal3{
        left: 112px;
        bottom: 6px;
    }
    
    .linha-vertical3{
        left: 124px;
        bottom: 7px;
    }

}

@media(max-width: 620px){

    .main-parte-um{
        background-image: url(Imagens/fundo-main1.png);
        background-size: contain;
        background-position: left;
    }

    .container-header{
        height: 190px;
    }

    .img-header1{
        width: 120px;
        margin-left: 105px;
        margin-top: 60px;
    }
    
    .img-header2{
        width: 120px;
        margin-left: 90px;
        margin-top: 60px;
    }

    .img-header3{
        left: 65px;
        width: 65%;
        height: 245px;
    }

    .star{
        width: 120px;
        height: 35px;
    }
    
    .war{
        width: 120px;
        height: 35px;
    }
    
    .kylo-ren{
        width: 90%;
        height: 245px;
    }

    .caixa-criaçao{
        height: 60px;
        top: 90px;
        right: 105px;
    }

    .mini-caixa{
        width: 100px;
        height: 60px;
    }

    .criar{
        font-size: 0.5rem;
        margin-left: 25px ;
    }
    
    .legiao{
        font-size: 0.5rem;
        margin-bottom: 32px; 
        margin-right: 22px;
    }
    
    .line-minicaixa{
        width: 56px;
        height: 1.3px;
        top: 25px;
        left: 25px;
    }
    
    .numeros{
        bottom: 15px;
        left: 25px;
    }

    .numero-01{
        font-size: 12px;
    }
    
    .numero-04{
        font-size: 8px;
        margin-top: 3px;
    }

    .informaçoes-iniciais{
        height: 190px;
    }

    .soldier-red{
        height: 210px;
        width: 140px;
        left: 20px;
    }

    .introduçao{
        width: 350px;
        height: 90px;
    }

    .line-divisao{
        width: 81%;
        margin-left: 38px;
    }

    .estrutura-jogo{
        margin-top: 0px;
    }

    .lord{
        top: 20px;
    }

    .img-lord{
        width: 210px;
        height: 210px;
    }

    .rey{
        height: 195px;
        top: 40px;
    }

    .img-rey{
        width: 100px;
        height: 190px;
    }

    .menu{
        width: 160px;
        height: 140px;
        margin-right: 105px;
        margin-top: 45px;
    }

    .titulo-estrutura{
        width: 100%;
        height: 40px;
    }

    .estrutura{
        position: static;
        font-size: 0.7rem;
        margin-left: 75px;
    }
    
    .de{
        position: static;
        font-size: 0.7rem;
        margin-top: 17px;
        margin-left: -58px; 
    }
    
    .jogo{
        position: static;
        font-size: 0.7rem;
        margin-top: 15px;
        margin-left: 5px;
    }

    ul{
        width: 100%;
        height: 105px;
        font-size: 0.4rem;
    }

}

@media(max-width: 600px){

    .main-parte-um{
        background-image: none;
    }

    .informaçoes-iniciais{
        background-image: url(Imagens/fundo-main1.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 430px;
    }

    .soldier-red{
        position: static;
        justify-content: space-around;
        align-self: flex-end;
        height: 240px;
        width: 170px;
        margin-bottom: 20px;
        margin-right: 30px;
    }

    .comece{
        width: 70px;
        font-size: 1rem;
        line-height: 25px;
    }

    .baixe-jogo{
        font-size: 11px;
        color: #c9c8c8;
        padding: 15px;
    }
    
    .botao-download{
        font-size: 10px;
        border-radius: 3px;
        padding: 5px 20px; 
    }

    .update{
        align-self: center;
        margin-bottom: 0px;
        margin-left: 15px;
    }

    .introduçao{
        flex-direction: column-reverse;
        align-self: auto;
        align-items: flex-end;
        justify-content: space-around;
        width: 260px;
        height: 220px;
        margin-right: 30px;
        margin-bottom: -200px;
    }

    .sobre{
        width: 100%;
        height: 110px;
        margin-right: 0px;
    }
    
    .sobre-jogo{
        font-size: 0.6rem;
    }

    .line-main{
        width: 56px;
    }
    
    .sobre p{
        font-size: 10px;
        width: 210px;
    }

    .img-front{
        width: 170px;
    }

    .line-divisao{
        width: 80%;
        margin-left: 55px;
        margin-top: 130px;
    }
    
    .caracteristicas{
        flex-direction: column;
    }

    .caracteristicas-1{
        width: 100%;
    }

    .img-atributos1{
        width: 100%;
    }

    .caracteristicas-2{
        width: 100%;

    }

    .img-atributos2{
        flex-direction: column-reverse;
        width: 100%;
    }

    .img-secundaria{
        width: 100%;
    }

    .balao2{
        height: 100%;
    }

    .linha-horizontal0{
        width: 20px;
    }
    
    .linha-vertical0{
        width: 2px;
    }
    
    .linha-horizontal1{
        width: 20px;
        height: 2px;
        left: 400px;
        bottom: 50px;
    }
    
    .linha-vertical1{
        width: 2px;
        height: 20px;
        left: 419px;
        bottom: 50px;
    }
    
    .linha-horizontal2{
        width: 20px;
        height: 2px;
        top: 20px;
    }
    
    .linha-vertical2{
        width: 2px;
        height: 20px;
        top: 20px;
    }
    
    .linha-horizontal3{
        width: 20px;
        height: 2px;
        left: 400px;
        bottom: 50px;
    }
    
    .linha-vertical3{
        width: 2px;
        height: 20px;
        left: 419px;
        bottom: 50px;
    }
    
    .titulo-graficos0, .titulo-graficos{
        font-size: 1rem;
    }

    .balao1 p{
        width: 220px;
        font-size: 0.7rem;
    }
    
    .balao2 p{
        width: 220px;
        font-size: 0.7rem;  
    }
    
    .botao{
        width: 80px;
        border: 2px solid #ffffff;
        font-size: 0.5rem;
        padding: 5px 10px;
    }

}

@media(max-width: 570px){

    .container-header{
        height: 170px;
    }

    .img-header1{
        width: 100px;
        margin-left: 95px;
        margin-top: 50px;
    }
    
    .img-header2{
        width: 100px;
        margin-left: 75px;
        margin-top: 50px;
    }

    .img-header3{
        left: 65px;
        width: 65%;
        height: 210px;
    }

    .star{
        width: 100px;
        height: 25px;
    }
    
    .war{
        width: 100px;
        height: 25px;
    }
    
    .kylo-ren{
        width: 85%;
        height: 210px;
    }

    .caixa-criaçao{
        height: 45px;
        top: 65px;
        right: 95px;
    }

    .mini-caixa{
        width: 100px;
        height: 60px;
    }

    .criar{
        font-size: 0.4rem;
        margin-left: 25px ;
    }
    
    .legiao{
        font-size: 0.4rem;
        margin-bottom: 40px; 
        margin-right: 32px;
    }
    
    .line-minicaixa{
        width: 45px;
        height: 1.3px;
        top: 20px;
        left: 25px;
    }
    
    .numeros{
        bottom: 8px;
        left: 25px;
    }

    .numero-01{
        font-size: 10px;
    }
    
    .numero-04{
        font-size: 7px;
        margin-top: 3px;
    }
}

@media(max-width: 570px){

    .linha-horizontal1{
        left: 330px;
        bottom: 44px;
    }

    .linha-vertical1{
        left: 350px;
        bottom: 44px;
    }

    .linha-horizontal3{
        left: 330px;
        bottom: 44px;
    }

    .linha-vertical3{
        left: 350px;
        bottom: 44px;
    }

}

@media(max-width: 570px){

    .linha-horizontal1{
        left: 300px;
        bottom: 40px;
    }

    .linha-vertical1{
        left: 319px;
        bottom: 40px;
    }

    .linha-horizontal3{
        left: 300px;
        bottom: 40px;
    }

    .linha-vertical3{
        left: 319px;
        bottom: 40px;
    }

}

@media(max-width: 505px){

    .container-header{
        height: 130px;
    }

    .img-header1{
        width: 70px;
        margin-left: 85px;
        margin-top: 30px;
    }
    
    .img-header2{
        width: 70px;
        margin-left: 105px;
        margin-top: 30px;
    }

    .img-header3{
        top: -15px;
        left: 70px;
        width: 80%;
        height: 180px;
    }

    .star{
        width: 80px;
        height: 25px;
    }
    
    .war{
        width: 80px;
        height: 25px;
    }
    
    .kylo-ren{
        width: 65%;
        height: 180px;
    }

    .caixa-criaçao{
        height: 45px;
        top: 55px;
        right: 60px;
    }

    .mini-caixa{
        width: 100px;
        height: 60px;
    }

    .criar{
        font-size: 0.4rem;
        margin-left: 25px ;
    }
    
    .legiao{
        font-size: 0.4rem;
        margin-bottom: 40px; 
        margin-right: 32px;
    }
    
    .line-minicaixa{
        width: 45px;
        height: 1.3px;
        top: 20px;
        left: 25px;
    }
    
    .numeros{
        bottom: 8px;
        left: 25px;
    }

    .numero-01{
        font-size: 10px;
    }
    
    .numero-04{
        font-size: 7px;
        margin-top: 3px;
    }

}

@media(max-width: 595px){
    .lord{
        left: 70px;
    }
}

@media(max-width: 442px){
   
    .lord{
        left: 100px;
    }

    .rey{
        
        right: 110px;
    }
        
}

@media(max-width: 470px){

    .linha-horizontal1{
        left: 290px;
        bottom: 35px;
    }

    .linha-vertical1{
        left: 310px;
        bottom: 35px;
    }

    .linha-horizontal3{
        left: 290px;
        bottom: 35px;
    }

    .linha-vertical3{
        left: 310px;
        bottom: 35px;
    }

}

@media(max-width: 445px){

    .caixa-botoes{
        margin-right: 100px;
    }
}

@media(max-width: 430px){

    .linha-horizontal1{
        left: 280px;
        bottom: 29px;
    }

    .linha-vertical1{
        left: 300px;
        bottom: 29px;
    }

    .linha-horizontal3{
        left: 280px;
        bottom: 29px;
    }

    .linha-vertical3{
        left: 300px;
        bottom: 29px;
    }

}

@media(max-width: 400px){
    
    .img-header3{
        top: -15px;
        left: 50px;
        width: 85%;
        height: 180px;
    }

}

@media(max-width: 380px){

    .atençao{
        width: 230px;
    }
    
    .trooper{
        overflow: hidden;   
        margin-left: -10px;
    }

    .trooper-capa{
        right: 80px;
    }

    .caixa-botoes{
        margin-right: 0px;
    }

}

@media(max-width: 380px){

    .linha-horizontal1{
        left: 250px;
        bottom: 22px;
    }

    .linha-vertical1{
        left: 270px;
        bottom: 22px;
    }

    .linha-horizontal3{
        left: 250px;
        bottom: 22px;
    }

    .linha-vertical3{
        left: 270px;
        bottom: 22px;
    }

}

@media(max-width: 375px){

    .line-divisao{
        width: 70%;
        margin-left: 70px;
        background-color: #838282;
        height: 4px;
    }

    .lord{
        height: 175px;
        top: 50px;
        left: 70px;
    }

    .img-lord{
        width: 140px;
        height: 160px;
    }

    .rey{
        height: 154px;
        right: 95px;
        top: 62px;
    }

    .img-rey{
        width: 72px;
        height: 145px;
    }

    .menu{
        width: 160px;
        height: 140px;
        margin-right: 85px;
        margin-top: 45px;
        position: static;
    }

    .titulo-estrutura{
        width: 100%;
        height: 40px;
    }

}

@media(max-width: 360px){

    .img-header1{
        width: 70px;
        margin-left: 75px;
        margin-top: 30px;
    }
    
    .img-header2{
        width: 70px;
        margin-left: 65px;
        margin-top: 30px;
    }

    .img-header3{
        top: -15px;
        left: 40px;
        width: 85%;
        height: 180px;
    }

    .star{
        width: 65px;
        height: 20px;
    }
    
    .war{
        width: 65px;
        height: 20px;
    }

}

@media(max-width: 340px){

    .titulo-atributo{
        align-self: center;
        margin-left: 0;
    }

    .linha-horizontal1{
        left: 230px;
        bottom: 18px;
    }

    .linha-vertical1{
        left: 250px;
        bottom: 18px;
    }

    .linha-horizontal3{
        left: 230px;
        bottom: 18px;
    }

    .linha-vertical3{
        left: 250px;
        bottom: 18px;
    }

    .caixa-botoes{
        margin-right: 50px;
    }

}

@media(max-width: 320px){

    .img-header1{
        width: 70px;
        margin-left: 90px;
        margin-top: 30px;
    }
    
    .img-header2{
        width: 70px;
        margin-left: 65px;
        margin-top: 30px;
    }

    .img-header3{
        top: -15px;
        left: 35px;
        width: 90%;
        height: 180px;
    }

    .line-divisao{
        width: 78%;
        margin-left: 39px;
        background-color: #838282;
        height: 4px;
    }

}