*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    max-width: 1900px;
    margin: 0 auto;
}

Header{
    background-image: url(Imagens/star\ uó\ topo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main{
    background-image: url(Imagens/fundo-main.png);
    background-repeat: no-repeat;
}

.container-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 380px; 
    position: relative;
}

.img-header1{
    width: 245px;
    margin-left: 280px;
    margin-top: 100px;
}

.img-header2{
    width: 245px;
    margin-left: 260px;
    margin-top: 100px;
}

.img-header3{
    position: absolute;
    left: 120px;
    top: 0px;
    width: 70%;
    height: 470px;
}

.star{
    width: 245px;
    height: 55px;
}

.war{
    width: 245px;
    height: 55px;
}

.kylo-ren{
    width: 98%;
    height: 470px;
}

.caixa-criaçao{
    position: relative;
    top: 150px;
    right: 170px;
}

.mini-caixa{
    width: 170px;
    height: 100px;
    display: flex;
    position: relative;
}

.criar{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: 66px ;
}

.legiao{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    text-transform: uppercase;
    align-self: center;
    margin-bottom: 45px; 
}

.line-minicaixa{
    background-color: #000000;
    position: absolute;
    width: 105px;
    height: 1.5px;
    top: 50px;
    left: 66px;
}

.numeros{
    display: flex;
    position: absolute;
    bottom: 18px;
    left: 67px;
}

.numero-04{
    font-size: 10px;
    align-self: center;
    margin-top: 4px;
}

.menor-maior{
    background-color: #8080806b;
    width: 6px;
    height: 8px;
    align-self: center;
    margin-left: 3px;
    margin-top: 2px;
    cursor: pointer;
}

.informaçoes-iniciais{
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    width: 95%;
    height: 300px;
}

.soldier-red{
    background-image: url(Imagens/soldier-red.png);
    background-size: cover;
    background-position: center center;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 20px;
    left: 150px;
}

.comece{
    width: 110px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    margin-top: 15px;
}

.baixe-jogo{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 10px;
    text-align: start;
    color: #c9c8c8;
    text-align: justify;
    padding: 20px;
    margin-bottom: 10px;
}

.botao-download{
    color: #c9c8c8;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 10px;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 6px 20px;
    cursor: pointer;
}

.update{
    color: #dfdbdb;
    font-family: 'Open Sans', sans-serif;
    font-size: 5px;
    font-weight: lighter;
    align-self: flex-end;
    margin-right: 10px;
    margin-bottom: 15px;
}

.introduçao{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    width: 480px;
    height: 132px;
    margin-right: 60px;
    margin-bottom: 20px;
}

.sobre{
    width: 270px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 5px;
}

.sobre-jogo{
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.sobre p{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    width: 260px;
    text-align: end;
}

.line-main{
    background-color: black;
    width: 100px;
    height: 2px;
}

.img-front{
    width: 207px;

}

@media(max-width: 955px){
    
    .img-header1{
        width: 270px;
        margin-left: 240px;
        margin-top: 100px;
    }
    
    .img-header2{
        width: 270px;
        margin-left: 200px;
        margin-top: 100px;
    }

    .img-header3{
        left: 90px;
        width: 70%;
        height: 450px;
    }

}

@media(max-width: 856px){

    .container-header{
        height: 320px;
    }

    .img-header1{
        width: 205px;
        margin-left: 240px;
        margin-top: 100px;
    }
    
    .img-header2{
        width: 205px;
        margin-left: 200px;
        margin-top: 100px;
    }

    .img-header3{
        left: 80px;
        width: 70%;
        height: 450px;
    }

    .star{
        width: 205px;
        height: 55px;
    }
    
    .war{
        width: 205px;
        height: 55px;
    }
    
    .kylo-ren{
        width: 100%;
        height: 390px;
    }
 
    .criar{
        font-size: 0.8rem;
        margin-left: 85px ;
    }
    
    .legiao{
        font-size: 0.8rem;
        margin-bottom: 55px; 
    }
    
    .line-minicaixa{
        width: 85px;
        height: 1.5px;
        top: 40px;
        left: 85px;
    }
    
    .numeros{
        display: flex;
        position: absolute;
        bottom: 30px;
        left: 85px;
    }

    .numero-01{
        font-size: 15px;
    }
    
    .numero-04{
        font-size: 9px;
        margin-top: 3px;
    }
    
    .menor-maior{
        width: 4px;
        height: 6px;
        margin-left: 3px;
        margin-top: 2px;
    }
}

@media(max-width: 730px){

    .container-header{
        height: 270px; 
    }

    .img-header1{
        width: 205px;
        margin-left: 140px;
        margin-top: 70px;
    }
    
    .img-header2{
        width: 205px;
        margin-left: 160px;
        margin-top: 70px;
    }

    .img-header3{
        left: 75px;
        width: 65%;
        height: 325px;
    }

    .star{
        width: 150px;
        height: 35px;
    }
    
    .war{
        width: 150px;
        height: 35px;
    }
    
    .kylo-ren{
        width: 100%;
        height: 325px;
    }

    .caixa-criaçao{
        top: 130px;
        right: 100px;
    }

    .mini-caixa{
        width: 100px;
        height: 100px;
    }

    .criar{
        font-size: 0.6rem;
        margin-left: 25px ;
    }
    
    .legiao{
        font-size: 0.6rem;
        margin-bottom: 67px; 
        margin-right: 10px;
    }
    
    .line-minicaixa{
        width: 67px;
        height: 1.5px;
        top: 30px;
        left: 25px;
    }
    
    .numeros{
        bottom: 50px;
        left: 27px;
    }

    .numero-01{
        font-size: 15px;
    }
    
    .numero-04{
        font-size: 9px;
        margin-top: 3px;
    }
    
    .menor-maior{
        width: 4px;
        height: 6px;
        margin-left: 3px;
        margin-top: 2px;
    }
}

@media(max-width: 620px){

    .container-header{
        height: 190px;
    }

    .img-header1{
        width: 120px;
        margin-left: 105px;
        margin-top: 60px;
    }
    
    .img-header2{
        width: 120px;
        margin-left: 90px;
        margin-top: 60px;
    }

    .img-header3{
        left: 65px;
        width: 65%;
        height: 245px;
    }

    .star{
        width: 120px;
        height: 35px;
    }
    
    .war{
        width: 120px;
        height: 35px;
    }
    
    .kylo-ren{
        width: 90%;
        height: 245px;
    }

    .caixa-criaçao{
        height: 60px;
        top: 90px;
        right: 105px;
    }

    .mini-caixa{
        width: 100px;
        height: 60px;
    }

    .criar{
        font-size: 0.5rem;
        margin-left: 25px ;
    }
    
    .legiao{
        font-size: 0.5rem;
        margin-bottom: 32px; 
        margin-right: 22px;
    }
    
    .line-minicaixa{
        width: 56px;
        height: 1.3px;
        top: 25px;
        left: 25px;
    }
    
    .numeros{
        bottom: 15px;
        left: 25px;
    }

    .numero-01{
        font-size: 12px;
    }
    
    .numero-04{
        font-size: 8px;
        margin-top: 3px;
    }
}

@media(max-width: 570px){

    .container-header{
        height: 170px;
    }

    .img-header1{
        width: 100px;
        margin-left: 95px;
        margin-top: 50px;
    }
    
    .img-header2{
        width: 100px;
        margin-left: 75px;
        margin-top: 50px;
    }

    .img-header3{
        left: 65px;
        width: 65%;
        height: 210px;
    }

    .star{
        width: 100px;
        height: 25px;
    }
    
    .war{
        width: 100px;
        height: 25px;
    }
    
    .kylo-ren{
        width: 85%;
        height: 210px;
    }

    .caixa-criaçao{
        height: 45px;
        top: 65px;
        right: 95px;
    }

    .mini-caixa{
        width: 100px;
        height: 60px;
    }

    .criar{
        font-size: 0.4rem;
        margin-left: 25px ;
    }
    
    .legiao{
        font-size: 0.4rem;
        margin-bottom: 40px; 
        margin-right: 32px;
    }
    
    .line-minicaixa{
        width: 45px;
        height: 1.3px;
        top: 20px;
        left: 25px;
    }
    
    .numeros{
        bottom: 8px;
        left: 25px;
    }

    .numero-01{
        font-size: 10px;
    }
    
    .numero-04{
        font-size: 7px;
        margin-top: 3px;
    }
}

@media(max-width: 505px){

    .container-header{
        height: 130px;
    }

    .img-header1{
        width: 70px;
        margin-left: 85px;
        margin-top: 30px;
    }
    
    .img-header2{
        width: 70px;
        margin-left: 105px;
        margin-top: 30px;
    }

    .img-header3{
        top: -15px;
        left: 70px;
        width: 80%;
        height: 180px;
    }

    .star{
        width: 80px;
        height: 25px;
    }
    
    .war{
        width: 80px;
        height: 25px;
    }
    
    .kylo-ren{
        width: 65%;
        height: 180px;
    }

    .caixa-criaçao{
        height: 45px;
        top: 55px;
        right: 60px;
    }

    .mini-caixa{
        width: 100px;
        height: 60px;
    }

    .criar{
        font-size: 0.4rem;
        margin-left: 25px ;
    }
    
    .legiao{
        font-size: 0.4rem;
        margin-bottom: 40px; 
        margin-right: 32px;
    }
    
    .line-minicaixa{
        width: 45px;
        height: 1.3px;
        top: 20px;
        left: 25px;
    }
    
    .numeros{
        bottom: 8px;
        left: 25px;
    }

    .numero-01{
        font-size: 10px;
    }
    
    .numero-04{
        font-size: 7px;
        margin-top: 3px;
    }

}
@media(max-width: 400px){
    
    .img-header3{
        top: -15px;
        left: 50px;
        width: 85%;
        height: 180px;
    }

}

@media(max-width: 360px){

    .img-header1{
        width: 70px;
        margin-left: 75px;
        margin-top: 30px;
    }
    
    .img-header2{
        width: 70px;
        margin-left: 65px;
        margin-top: 30px;
    }

    .img-header3{
        top: -15px;
        left: 40px;
        width: 85%;
        height: 180px;
    }

    .star{
        width: 65px;
        height: 20px;
    }
    
    .war{
        width: 65px;
        height: 20px;
    }

}

@media(max-width: 320px){

    .img-header1{
        width: 70px;
        margin-left: 90px;
        margin-top: 30px;
    }
    
    .img-header2{
        width: 70px;
        margin-left: 65px;
        margin-top: 30px;
    }

    .img-header3{
        top: -15px;
        left: 35px;
        width: 90%;
        height: 180px;
    }
}